.base {
	margin: 0;
	color: var(--color-text);
	line-height: 1.5;
}

.size1 {
	/* xs */
	font-size: var(--font-size-xs);
}

.size2 {
	/* sm */
	font-size: var(--font-size-sm);
}

.size3 {
	/* md */
	font-size: var(--font-size-md);
}

.size4 {
	/* lg */
	font-size: var(--font-size-lg);
}

.size5 {
	/* xl */
	font-size: var(--font-size-xl);
}

.muted {
	color: var(--color-text-muted);
}

.center {
	text-align: center;
}

.normal {
	font-weight: 400;
}

.semiBold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}


